.navbar{
  padding: 0.3rem 15rem;
  background-color: #DD4A48;
}
.navbar-brand{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}
.btnc{
  margin-left: 35%;
  margin-top: 5%;
}
.btnc:hover{
  background-color: grey;
}

.container-fluid{
  padding: 3% 15%;
}
@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(180deg) }
  }
  .chef{
    animation-name: spinning;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

#title{
  background-color: #DD4A48;
  color: white;
}
#intro{
  text-align: center;
}
#slider{
  background-color: #FF9B6A;
  padding: 2% 0 3%;

}
.colc{
  padding: 0 1.5% 0;
  font-family: 'Montserrat', sans-serif;
}
.menu{
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 1.5rem;
  color: grey;

}
.card-header{
  background-color: #F8F0DF;
}
.demo{
  margin-top: 10%;
}
.im{
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10%;
  border-style: solid;

}
.ic{
  color: #B42B51;
}
.ic:hover{
  color:#E63E6D;
}
.test{
  color: #6E85B2;
  padding-top: 1rem;
}

.chef{
  width: 70%;
  height: 18rem;
  border: solid 0.2rem;
  transform: rotate(-5deg);
}
.row{
  padding: 5% 0 5% 0;
}
.str{
  font-family: 'Noto Serif', serif;
  color: #5C527F;
  padding-top: 4%;
}
.fd{
  color: white;
}

h1{
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 2.3rem;
  color: #FFFDA2;
}
p{
  text-align: center;
  padding: 2% 0 10%;
  line-height: 1.5;
  color: #FDEFEF;
  font-family: 'Dosis', sans-serif;
}
h3{
  text-align: center;
  font-family: 'Satisfy-normal', cursive;
}
